body {
  background-color: yellowgreen;
}

header {
  height: 50px;
  width: 400px;
  margin: 0 auto;
}
.main {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.main__box {
  width: 210px;
  margin: 0 auto;
  background-color: white;
}

.side {
  width: 100px;
  background-color: pink;
}

.box {
  width: 200px;
  display: block;
}

.field {
  width: 210px;
  height: 30px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
}

.area {
  width: 210px;
  height:150px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
}

.bt {
  width: 210px;
  height: 30px;
  background-color: silver;
}

.top {
  color: red;
}