body {
  background-color: yellowgreen;
}

.box {
  width: 200px;
  display: block;
}

.field {
  width: 210px;
  height: 30px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
}

.area {
  width: 210px;
  height:150px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
}

.bt {
  width: 210px;
  height: 30px;
}

.top {
  color: red;
}